body {
  /* background:url(./images/bg.jpeg)  0 0 / 100vw 100vh no-repeat; */
}

.info {
  height: 100px;
  opacity: 0.6;

  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.info li {
  list-style: none;
  width: 100px;
  height: 100px;
  background: pink;

  padding: 4px;
}

.am-list-item .am-list-line {
  .am-list-content {
    overflow: visible !important;
  }
  overflow: visible !important;
  padding-bottom: 6px;
}
